GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_16_character_app_password
LEADS_TO_EMAIL=reethappymove19@gmail.com
FRONTEND_ORIGINS=https://vastucityrameshwaram.com,http://localhost:5173
API_PORT=3001
